<div class="form">
    <h1 class="title">{{config.view?.title}}</h1>
    <p>{{config.view?.text}}</p>
    <form *ngIf="form" [formGroup]="form">
        <input *ngFor="let control of config.controls" class="form-input"
            [formControlName]="control.name"
            [type]="control.type"
            [placeholder]="control.placeholder">
    </form>
    <ng-container *ngFor="let button of config.buttons">
        <button class="btn" type="submit" (click)="submitForm(button.action)">{{button.title}}</button>
    </ng-container>
</div>